{% extends 'regauth/layout.html' %}
{% load static %}
{% load socialaccount %}
{% load account %}

  {% block title %} Авторизация на UnrealSpace {% endblock %} 
          {% block content %}
          <div class="u-container-layout u-container-layout-1">
            <h3 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1">Авторизация UnSpace</h3>
            <h3 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-2">
              <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-font-montserrat u-hover-none u-none u-text-body-alt-color u-btn-1" href="{% url 'register' %}">Нету аккаунта? Зарегистрироваться!<span style="font-weight: 400;"></span>
              </a>
            </h3>
            <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-3">Имя<br>Фамилия&nbsp;
            </h3>
            <img class="u-hover-feature u-image u-image-circle u-preserve-proportions u-image-1" alt="" src="{% static 'regauth/img/defaultic.png' %}" data-image-width="900" data-image-height="900"></img>
            <div class="blur10px filter u-container-style u-group u-hover-feature u-opacity u-opacity-10 u-radius-30 u-shape-round u-group-2">
              <div class="u-container-layout u-container-layout-2">
                  <div class="u-expanded-width-sm u-expanded-width-xs u-form u-form-1">
                <div class="center"><br>
        
                    <h3 class="u-align-center-md u-align-center-sm u-align-center-xs u-custom-font u-font-montserrat u-text u-text-body-alt-color">Теперь остальность только войти! </h3>
                  
                 <a href="{% url 'auth' %}" class="u-border-2 u-border-palette-4-dark-1 u-btn u-btn-round u-button-style u-custom-font u-font-montserrat u-hover-feature u-hover-palette-4-dark-1 u-none u-radius-7 u-btn-2">Войти</a>
                                   <hr>
                  <p class="text-center">Опять забыли пароль? <a href="{% url 'password-reset' %}">Восстановить.</a></p>
              </div>

                </div>
              </div>
            </div>
          </div>
          {% endblock %}

