    {% extends 'utopies/layout.html' %}
{% load static %}
          {% block title %} Условия пользования {% endblock %}

      {% block utopies %}
        <div class="blur10px filter u-container-style u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-hover-feature u-opacity u-opacity-10 u-radius-30 u-shape-round u-group-2">
          <div class="u-container-layout u-valign-top-xs u-container-layout-2">
            <div class="blur10px filter u-container-style u-group u-hover-feature u-opacity u-opacity-10 u-radius-30 u-shape-round u-group-3">
              <div class="u-container-layout u-container-layout-3">
               <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-6">Опубликовано 2022.03.26</h3>
                <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-7"><a href="../utopies/mskolyadin/utopies">UnSpace<br>News&nbsp;</a>
                </h3>
                <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-8">@<a href="../regauth/profile/mskolyadin">mskolyadin</a></h3>
                <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-9">
                без тегов
                </h3>
                <img class="u-hover-feature u-image u-image-circle u-preserve-proportions u-image-1" alt="" src="{% static 'utopies/img/unspaceicon.png' %}" data-image-width="900" data-image-height="900">
                <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-10">Пользовательское соглашение</h3>
                <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-11">
                <b>Пользовательское Соглашение</b><br><br>
                  Настоящее Пользовательское Соглашение (Далее Соглашение) регулирует отношения между владельцем unrealspace.ru (далее unrealspace или Администрация) с одной стороны и пользователем сайта с другой.
                  Сайт unrealspace является средством массовой информации.

                  Используя сайт, Вы соглашаетесь с условиями данного соглашения.                  
                  <b>Если Вы не согласны с условиями данного соглашения, не используйте сайт unrealspace!
                  </b>
                  <br> <br><b>Предмет соглашения</b>
                 Администрация предоставляет пользователю право на размещение на сайте следующей информации:<br>
                  - Текстовой информации<br>
                  - Аудиоматериалов<br>
                  - Фотоматериалов<br>
                  - Ссылок на материалы, размещенные на других сайтах<br><br>

<b>Условия публикации всех видов информациии</b>

- Не публиквать контент с других источников<br>
- Не публиковать контент 18+<br>
- Публиковать только авторский контент<br>
Нарушение карается блокировкой аккаунта, 3 таких нарушения - бан по железу <br>







<br><br><b>Права и обязанности сторон
</b><br>
<b>Пользователь имеет право:</b><br>
- осуществлять поиск информации на сайте<br>
- получать информацию на сайте<br>
- создавать информацию для сайта<br>
- распространять информацию на сайте<br>
- комментировать контент, выложенный на сайте<br>
- изменять рейтинг пользователей<br>
- копировать информацию на другие сайты с разрешения правообладателя<br>
- требовать от администрации скрытия любой информации о пользователе<br>
- требовать от администрации скрытия любой информации переданной пользователем сайту<br>
- использовать информацию сайта в личных некоммерческих целях<br>
- использовать информацию сайта в коммерческих целях с разрешения Администрации<br>
- использовать информацию сайта в коммерческих целях с разрешения правообладателей<br>
<br><br>
<b>Администрация имеет право:</b><br>
- по своему усмотрению и необходимости создавать, изменять, отменять правила<br>
- ограничивать доступ к любой информации на сайте<br>
- создавать, изменять, удалять информацию<br>
<br><br>
<b>Пользователь обязуется:</b><br>
- обновлять Персональные данные, предоставленные при регистрации, в случае их изменения<br>
- не копировать информацию с других источников<br>
- не распространять информацию, которая направлена на пропаганду войны, разжигание национальной, расовой или религиозной ненависти и вражды, а также иной информации, за распространение которой предусмотрена уголовная или административная ответственность<br>
- не нарушать работоспособность сайта<br>
- не размещать материалы рекламного, эротического, порнографического или оскорбительного характера, а также иную информацию, размещение которой запрещено или противоречит нормам действующего законодательства РФ<br>
- не использовать скрипты (программы) для автоматизированного сбора информации и/или взаимодействия с Сайтом и его Сервисами<br>
<br>
<b>Администрация обязуется:</b><br>
- поддерживать работоспособность сайта за исключением случаев, когда это невозможно по независящим от Администрации причинам.<br>
- осуществлять разностороннюю защиту учетной записи Пользователя<br>
- защищать информацию, распространение которой ограничено или запрещено законами путем вынесения предупреждения либо удалением учетной записи пользователя, нарушившего правила
<br><br>
<b>Ответственность сторон</b><br>
- пользователь лично несет полную ответственность за распространяемую им информацию<br>
- администрация не несет никакой ответственности за достоверность информации, скопированной из других источников<br>
- администрация не несет никакой ответственности за услуги, предоставляемые третьими лицами<br>
<br>
<b>Условия действия Соглашения</b><br>
Данное Соглашение вступает в силу при любом использовании данного сайта.<br>
Соглашение перестает действовать при появлении его новой версии.<br>
Администрация оставляет за собой право в одностороннем порядке изменять данное соглашение по своему усмотрению.<br>
При любом изменении данного соглашения, администрация будет оповещать пользователей удобным для нее способом.<br>


                </h3><span class="u-icon u-text-palette-2-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 51.997 51.997" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-30d7"></use></svg><svg class="u-svg-content" viewBox="0 0 51.997 51.997" x="0px" y="0px" id="svg-30d7" style="enable-background:new 0 0 51.997 51.997;"><g><path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905
            c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478
            c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014
            C52.216,18.553,51.97,16.611,51.911,16.242z M49.521,21.261c-0.984,4.172-3.265,7.973-6.59,10.985L25.855,47.481L9.072,32.25
            c-3.331-3.018-5.611-6.818-6.596-10.99c-0.708-2.997-0.417-4.69-0.416-4.701l0.015-0.101C2.725,9.139,7.806,3.826,14.158,3.826
            c4.687,0,8.813,2.88,10.771,7.515l0.921,2.183l0.921-2.183c1.927-4.564,6.271-7.514,11.069-7.514
                    c6.351,0,11.433,5.313,12.096,12.727C49.938,16.57,50.229,18.264,49.521,21.261z"></path>
            			</g></svg></span>
                <h3 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-12">Проект: unspaceit</h3>
              </div>
            </div>
          </div>
        </div>
    {% endblock utopies %}
