{% extends 'dev/teamlayout.html' %}
{% load static %}
{% block title %}Работа над командой | UnSpace Dev - Teams{% endblock %}
{% block content %}
        <h1 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-1">Название&nbsp;<br>команды&nbsp;&nbsp;<span class="u-file-icon u-icon u-text-palette-4-dark-1"><img src="images/1271380-3a694a88.png" alt=""></span>
        </h1>
        <h1 class="u-custom-font u-custom-item u-font-montserrat u-text u-text-body-alt-color u-text-2"><span class="u-file-icon u-icon u-text-palette-4-dark-1 u-icon-4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""><img src="{% static 'regauth/img/3211424-5e187350.png' %}" alt=""></span>&nbsp;репутация команды
        </h1>
        <div class="u-container-style u-expanded-width u-group u-hover-feature u-radius-25 u-shape-round u-group-2">
          <div class="u-container-layout u-container-layout-2">
            <div class="u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-hover-feature u-radius-25 u-shape-round u-group-3">
              <div class="u-container-layout u-container-layout-3">
                <h1 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-3"><span class="u-file-icon u-icon u-text-white u-icon-5"><img src="{% static 'dev/img/3210055-784703c3.png' %}" alt=""></span>&nbsp; https://ссылка на сайт если есть
                </h1>
                <img class="u-image u-image-circle u-image-contain u-image-1" src="images/unspaceicon.png" alt="" data-image-width="958" data-image-height="955" data-href="">
                <img class="u-image u-image-circle u-image-contain u-image-2" src="images/unspaceicon.png" alt="" data-image-width="958" data-image-height="955" data-href="">
                <img class="u-image u-image-circle u-image-contain u-image-3" src="images/unspaceicon.png" alt="" data-image-width="958" data-image-height="955" data-href="">
              </div>
            </div>
            <a href="" disabled class="u-border-2 u-border-active-palette-4-dark-1 u-border-hover-palette-4-dark-1 u-border-palette-4-dark-1 u-btn u-btn-round u-button-style u-custom-font u-font-montserrat u-hover-feature u-hover-palette-4-dark-1 u-none u-radius-6 u-text-active-white u-text-hover-palette-4-light-3 u-text-palette-4-dark-1 u-btn-3">Написать</a>
            <a href="" disabled class="u-border-2 u-border-active-palette-4-dark-1 u-border-hover-palette-4-dark-1 u-border-palette-4-dark-1 u-btn u-btn-round u-button-style u-custom-font u-font-montserrat u-hover-feature u-hover-palette-4-dark-1 u-none u-radius-6 u-text-active-white u-text-hover-palette-4-light-3 u-text-palette-4-dark-1 u-btn-4">Редактировать</a>
            <h1 class="u-custom-font u-font-montserrat u-text u-text-body-alt-color u-text-4">Краткое описание вашей команды</h1>
            <h1 class="u-custom-font u-font-montserrat u-hover-feature u-text u-text-body-alt-color u-text-5">дата основания</h1>
          </div>
        </div>
        <img class="u-hover-feature u-image u-image-circle u-image-contain u-image-4" src="images/unspaceicon.png" alt="UnSpace" data-image-width="958" data-image-height="955">
       

         <form action="" method="POST" style="color: #fff" enctype="multipart/form-data">
          {% csrf_token %}
        {{form.as_p}} 

           <button type="submit" class="u-border-2 u-border-active-palette-4-dark-1 u-border-hover-palette-4-dark-1 u-border-palette-4-dark-1 u-btn u-btn-round u-button-style u-custom-font u-font-montserrat u-hover-feature u-hover-palette-4-dark-1 u-none u-radius-6 u-text-active-white u-text-hover-palette-4-light-3 u-text-palette-4-dark-1 u-btn-5">Создать команду</button>

      </form>
      </div>
{% endblock %}